@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --success: 84, 81%, 40%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    .h2 {
        @apply scroll-m-20 text-3xl font-semibold tracking-tight transition-colors;
    }

    .h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    .h4 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-background rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-accent;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

[id] {
  @apply scroll-mt-20
}

.text {
  @apply relative overflow-hidden;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @apply bg-background;
    animation: animate 6s steps(12) infinite;
}

.text.sec-text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @apply border-r-0 border-y-0 border-[2px];
  @apply bg-background;
  animation: animate 6s steps(12) infinite, blink .75s step-end infinite;
}

@keyframes animate {
    20%, 70% {
        left: calc(100% + 1px);
    }
    100% {
        left: 0%;
    }
}

@keyframes blink {
  from, to { 
    @apply border-transparent
   }
  50% { 
    @apply border-[#f8d340];
   }
}
